[Desktop Entry]
Name=JetUML
Exec=/home/francois/.local/java/JetUML
Icon=/home/francois/.local/java/jet.png
Type=Application
Categories=Utility;
Terminal=false


